<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_change_style.css' %}">
</head>
<body>
    <div class="all_items">
        <div class="shapes">
            <div class="shape1">
            </div>
            <div class="shape2">
            </div>
        </div>
            <div>

                <form method="post" action="{% url 'blog:password_change' %}" class="login-form">
                    {% csrf_token %}
                <h2 class="title">تغییر گذرواژه</h2>
                    <fieldset style="border: 0">
                        <div>
                            <label for="old_password" class="labels">گذرواژه قدیمی:</label>
                            <input name="old_password" type="password" placeholder="رمز عبور قبلی" id="old_password" required autofocus autocomplete="current-password">
                        </div>
                        <div>
                            <div>
                                <label for="new_password1" class="labels">گذرواژه جدید:</label>
                                <input name="new_password1" type="password" placeholder="رمزعبور جدید" id="new_password1" required autocomplete="new-password" aria-describedby="new_password1_helptext">
                            </div>
                            <div id="new_password1_helptext" class="help">
                                <ul>
                                    <li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
                                    <li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li>
                                    <li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</li>
                                    <li>گذرواژه شما نمی تواند کلا عدد باشد</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="new_password2" class="labels">تکرار گذرواه جدید:</label>
                                <input name="new_password2" type="password" placeholder="تکرار رمزعبور جدید" id="new_password2" required autocomplete="new-password" aria-describedby="new_password2_helptext">
                            </div>
                            <div class="help" id="new_password2_helptext">برای تائید، رمز عبور قبلی را وارد کنید.</div>
                        </div>
                    </fieldset>
                    <div >
                        <input type="submit" value="تغییر گذرواژه" id="submit-button">
                    </div>
                </form>
            </div>
    </div>
</body>
</html>