{% extends "parent/base.html" %}
{% load blog_tags %}

{% block title %}Index Page{% endblock %}
{% block content %}
    <p>آمار</p>
    <p>تعداد پست: {% total_posts %}</p>
    <p>تعداد کامنت: {% total_comments %}</p>
    <p>تاریخ آخرین پست: {% last_post_date %}</p>

    {% latest_posts 5 %}

    <h3>محبوب ترین پست ها</h3>
    {% most_popular_posts as pop_posts %}
    {% for post in pop_posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}: with {{ post.comments_count }} comment{{ post.comments_count|pluralize }}</a>
        <br>
    {% endfor %}

    {% max_reading_time %}
    <br>
    {% min_reading_time %}
{% endblock %}