{% extends "parent/base.html" %}
{% load blog_tags %}

{% block title %}Index Page{% endblock %}
{% block content %}
    <h3><a href="{% url 'blog:post_list' %}">لیست پست ها</a></h3>
    <p>آمار</p>
    <p>تعداد پست: {% total_posts %}</p>
    <p>تعداد کامنت: {% total_comments %}</p>
    <p>تاریخ آخرین پست: {% last_post_date %}</p>

    {% latest_posts 5 %}

    <h3>محبوب ترین پست ها</h3>
    {% most_popular_posts as pop_posts %}
    {% for post in pop_posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}: with {{ post.comments_count }} comment{{ post.comments_count|pluralize }}</a>
        <br>
    {% endfor %}

    {% max_reading_time %}
    <br>
    {% min_reading_time %}
    <br>
    <h3 style="font-size: 30px">فعال ترین کاربر</h3>
    {% most_active_user as mau%}
    {% for user in mau %}
    	<p>{{ user }} with {{ user.total_posts }} post{{ user.total_posts |pluralize }}</p>
    {% endfor %}



{% endblock %}