{% extends "parent/base.html" %}
{% block title %}Post Detail{% endblock %}
{% load jformat %}
{% load blog_tags %}
{% block content %}
    <div class="post_box">
        <h2>Post detail</h2>
        <h3 class="title_post">{{ post.title}} <span class="author-title">(by {{ post.author }})</span> </h3>
        <p class="time_post">{{ post.publish |jformat:"%Y/%m/%d-%H:%M" }}</p>
        <hr>
        <div class="description_post">
            <p>{{ post.description |markdown }}</p>
        </div>
        <div>
            {% with  comments.count as cm_count%}
                {{ cm_count }} comment{{ cm_count |pluralize }}
            {% endwith %}
        </div>
        <div>
            {% for comment in comments %}
                {{ comment.name }}
                <br>
                {{ comment.created |jformat:"%Y/%m/%d"}}
                <br>
                {{ comment.body |linebreaks }}
            {% empty %}
                کامنتی وجود ندارد!!
            {% endfor %}
        </div>
        <form method="post" action="{% url 'blog:post_comment' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="افزودن کامنت">
        </form>
    </div>

{#    <p>{{ new_date |date:"SHORT_DATETIME_FORMAT" }}</p>#}
{% endblock %}
